/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
}
  body {
      background-color: $color-tertiary;
  }

.container {
    margin: 1.5% 2% 2%;
}