  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */

  body {
    font-family: $font-primary;
  }

  h1 {
    font-size: 80px;
    text-align: center;
  }




  // -------------- A Fonts ------------------------

  a {
    font-size: 25px;
    text-decoration: none;
  }

  // --------------Buttons--------------------------

  .book button {
    font-size: 25px;
    text-transform: uppercase;
  }


  